/* ----- Internet Explorer 7 Stylesheet ------ */
#header #headerBottomNav {width:330px;}
#footer #footerLinks .inner .newsletter input{width:166px;}
#contactFormWrap .requiredText{ padding-right:57px;}

#footer #footerLinks .inner .newsletter input{ height: 23px; line-height: 23px; }
#footerForm .sbHolder { position:static !important;}
#footerForm .dropDownContainer { position:relative !important;}

#bannerStrip .inner .details h1{ letter-spacing:3px !important;}

#large-slideshow { display: none; }
#mobile-slideshow { display: block; position: relative; width: 940px; height: 332px; margin-bottom: 10px; }
#mobile-slideshow-contain { margin-top: -10px; }
#mobile-slideshow img { display: block; }
#mobile-slideshow a { text-decoration: none; }
#mobile-slideshow .banner-small { display: none; }

#mobile-slideshow .item .item-content { position: absolute; top: 50%; margin-top: -84px; z-index: 10; text-transform: uppercase; padding: 0; }
#mobile-slideshow .item .item-content h2 { padding: 0 0 20px; margin: 0; font-size: 22px; line-height: normal; font-family: 'museo_sans_700', sans-serif; }
#mobile-slideshow .item .item-content p { padding: 0 0 30px; margin: 0; font-size: 13px; color: #000; }

#mobile-slideshow .slide-0 .item-content { right: 56px; width: 376px; top: 83%; }
#mobile-slideshow .slide-0 .item-content h2 { color: #fff; text-align: right; }
#mobile-slideshow .slide-0 .item-content p { color: #fff; text-align: right; }

#mobile-slideshow .item#slide-1 .item-content { right: 56px; width: 376px; }
#mobile-slideshow .item#slide-1 .item-content h2 { color: #c1bfbf; text-align: right; }
#mobile-slideshow .item#slide-1 .item-content p { color: #fff; text-align: right; }

#mobile-slideshow .item#slide-2 .item-content { left: 72px; width: 367px; }
#mobile-slideshow .item#slide-2 .item-content h2 { color: #00b3e6; }
#mobile-slideshow .item#slide-2 .item-content p { color: #000; }

#mobile-slideshow .item#slide-3 .item-content { left: 63px; width: 367px; }
#mobile-slideshow .item#slide-3 .item-content h2 { color: #00093c; }
#mobile-slideshow .item#slide-3 .item-content p { color: #687896; }

#mobile-slideshow .item#slide-4 .item-content { right: 98px; width: 376px; }
#mobile-slideshow .item#slide-4 .item-content h2 { color: #2259d7; text-align: right; }
#mobile-slideshow .item#slide-4 .item-content p { color: #2259d7; text-align: right; }

.mobile-slideshow-pagination { text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 0; overflow: hidden; height: 21px; }
.mobile-slideshow-pagination  { padding: 0; margin: 0; display: inline; }
.mobile-slideshow-pagination a { display: inline; zoom: 1; padding: 5px; background: #706d6b; margin-right: 4px; }
.mobile-slideshow-pagination a span { text-indent: -999px; overflow: hidden; width: 5px; height: 5px; display: block; background: #fff; text-indent: -999px; overflow: hidden; cursor: pointer; border: 1px solid #fff; border-radius: 5px; } 
.mobile-slideshow-pagination a.cycle-pager-active span { background: #393b3b; }

.constants-wrapper { width: 940px !important; position: static !important; }

#suite-jumps .align-middle span span span { top: auto !important; }

.mfp-image-holder .mfp-content { width: 50% !important; }

.display-area .media-area-alternative .page-info hgroup img { height: 379px !important; }